body { 
  background-color: #d8dee9 ;
  color: #2e3440 ;
  margin-left: 10% ;
  margin-right: 10% ;
  font-family: geneva, sans-serif ;
}

.topnav {
  overflow: hidden;
}

.topnav h1 {
    float: left;
    padding-top: 10px;
}

.topnav #topouter {
    float: right;
    min-height: 100px;
    width: 408px;
}

.topnav #topinner {
    float: right;
}

.topnav button {
  float: left;
  min-width: 200px;
}

.botnav {
  overflow: hidden;
}

.botnav div {
  float: right;
}

.botnav button {
  float: left;
  min-width: 200px;
}

.botnav fieldset {
  float: left;
  }

fieldset {
  border-radius: 5px;
  border: 3px solid #5e81ac;
}
fieldset legend {
  font-weight: bold;
}

select {
  background-color: #d8dee9;
  border: 1px solid #5e81ac ;
}

input {
  background-color: #d8dee9;
  border: 1px solid #5e81ac;
}

.button:hover:enabled {
  color: #2e3440;
}

.button {
  border-radius: 5px;
  display: block;
  background-color: #5e81ac;
  color: #eceff4;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 14.5px;
  margin: 7.5px 4px 0px 0px;;
  text-decoration: none;
  font-size: 17px;
}

.button:disabled {
   background-color: #81a1c1;
}

.pattern {
  margin: 10px;
  padding: 10px;
}

.patternquery {
    display: flex;
}

.patternquery fieldset {
    margin-top: 10px;
    border-width: 0px;
}
.patternquery table {
    max-height: 100px;
    padding: 10px;
}

.patternquery table td {
    min-width: 70px;
}

.patternquery .query {
}

.query_buttons {
    padding-top: 40px;
}

.query_buttons button {
    min-width: 120px;
}

.visgraph {
  display: none; /* Hidden by default */
  position:fixed;
  left: 50%;
  -ms-transform: translate(-50%);
  -moz-transform:translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  width: 80vh; /* Full width */
  height: 80vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.visgraph-inner {
  background-color: #eceff4;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.graph {
    height: 100%;
    width: 100%;
}

.close {
  color: #5e81ac;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#metadata {
  padding: 0 18px;
  margin: 10px;
  background-color: #e5e9f0 ;
  max-height: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#metadata table {
    padding: 15px;
}

#metadata table td {
  min-width: 200px;
  font-family: 'Courier New', monospace;
  white-space:pre;
}


#filter {
  padding: 10px;
  padding-bottom: 80px;
  margin: 10px;
} 

#metadata_button {
    width: 404px;
    margin: 4px 0px 0px 0px;
}

.collapsible {
  background-color: #88c0d0;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#pagenav {
  float: left;
  max-width: none!important;
}

.patternlst {
  background-color: #e5e9f0 ;
}

.patternlst #patternlst_title {
  font-size: 30px;
}

h1{
  text-align: left ;
  color: #2e3440 ;
  font-size: 40px;
}

h2{
  text-align: left ;
  color: #2e3440 ;
  padding: 4px;
}

h3{
  text-align: left ;
  color: #2e3440 ;
}

h4{
  text-align: left ;
  color: #2e3440 ;
}

a:link {
  color: #81a1c1 ;
  text-decoration: none ;
}

a:visited {
  color: #5e81ac ;
  text-decoration: none ;

}

a:hover {
  color: #5e81ac ;
  text-decoration: underline ;
}
