body { 
  background-color: #e6f7ff ;
  color: #000000 ;
  margin-left: 10% ;
  margin-right: 10% ;
  font-family: geneva, sans-serif ;
}

.pattern { 
  background-color: #f2f7ff ;
  outline-style: double ;
  width: 100% ;
  padding: 5px ;
}


#metadata {
  padding: 0 18px;
  background-color: #f2f7ff ;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

#filter {
  padding: 0 18px 80px;
  background-color: #f2f7ff ;
} 

.collapsible {
  background-color: #b7dff2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

h1{
  text-align: left ;
  color: #000000 ;
}

h2{
  text-align: left ;
  color: #000000 ;
}

h3{
  text-align: left ;
  color: #000000 ;
}

h4{
  text-align: left ;
  color: #000000 ;
}

a:link {
  color: #000066 ;
  text-decoration: none ;
}

a:visited {
  color: #000066 ;
  text-decoration: none ;

}

a:hover {
  color: #000066 ;
  text-decoration: underline ;
}

a:visited:hover {
  color:  #000066 ;
  text-decoration: none ;
}

