body { 
  background-color: #e6f7ff ;
  color: #000000 ;
  margin-left: 10% ;
  margin-right: 10% ;
  font-family: geneva, sans-serif ;
}

.topnav {
  overflow: hidden;
}

.topnav button {
  float: left;
}

.button:hover:enabled {
  color: black;
}

.button {
  display: block;
  background-color: #2196F3;
  color: white;
  text-align: center;
  padding: 14px;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
}

.button:disabled {
   background-color: #e9e9e9;
}

.pattern {
  margin: 10px;
  background-color: #f2f7ff ;
  outline-style: double ;
}

.visgraph {
  display: none; /* Hidden by default */
  position:fixed;
  left: 50%;
  -ms-transform: translate(-50%);
  -moz-transform:translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  width: 80vh; /* Full width */
  height: 80vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.visgraph-inner {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.graph {
    height: 100%;
    width: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#metadata {
  padding: 0 18px;
  margin: 10px;
  background-color: #f2f7ff ;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

#filter {
  padding: 10px;
  padding-bottom: 80px;
  margin: 10px;
  background-color: #f2f7ff ;
} 

.collapsible {
  background-color: #b7dff2;
  cursor: pointer;
  padding: 18px;
  margin: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

h1{
  text-align: left ;
  color: #000000 ;
}

h2{
  text-align: left ;
  color: #000000 ;
}

h3{
  text-align: left ;
  color: #000000 ;
}

h4{
  text-align: left ;
  color: #000000 ;
}

a:link {
  color: #000066 ;
  text-decoration: none ;
}

a:visited {
  color: #000066 ;
  text-decoration: none ;

}

a:hover {
  color: #000066 ;
  text-decoration: underline ;
}

a:visited:hover {
  color:  #000066 ;
  text-decoration: none ;
}

