<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <!-- from https://github.com/highlightjs/highlightjs-turtle -->
        <script type="text/javascript" src={{url_for('static', filename='highlight/src/turtle.js')}}></script>
        <script type="text/javascript" src={{url_for('static', filename='highlight/src/sparql.js')}}></script>
        <script type="text/javascript" src={{url_for('static', filename='vis-network.min.js')}}></script>
        <script type="text/javascript">
            hljs.highlightAll();
        </script>
        <script type="text/javascript">
            var selected = 0;
            function saveQuery(elem, id) {
                fetch("{{ url_for('viewer') }}", {
                    method: 'post',
                    body: JSON.stringify({ 'id': id, 'selected': elem.checked }),
                    headers: {
                        'Accept': 'text/html',
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.text
                }).then((res) => {
                    if (res.status === 201) {
                        console.log("Success")
                    }
                }).catch((error) => {
                    console.log(error)
                })

                if (elem.checked) {
                    selected++;
                } else {
                    selected--;
                }

                toggleSaveButton();
            }
            function saveQueries() {
                fetch("{{ url_for('viewer') }}", {
                    method: 'post',
                    body: JSON.stringify({ 'write_to_disk': true }),
                    headers: {
                        'Accept': 'text/html',
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.text()
                }).then((res) => {
                    if (res.status === 201) {
                        console.log("Success")
                    }
                }).catch((error) => {
                    console.log(error)
                })

                selected = 0
                toggleSaveButton();
            }
            function toggleSaveButton() {
                let button = document.getElementById("save_button");
                if (selected > 0) {
                    button.removeAttribute("disabled");
                } else {
                    button.setAttribute("disabled", "disabled");
                }
            }
            function quit() {
                let unsaved_entries = {% if not saved %} true {% else %} false {% endif %};
                let confirmed = true;
                if (unsaved_entries || selected > 0){
                    confirmed = confirm("You have unsaved patterns. Are you sure?");
                }

                if (confirmed){
                    window.location.href = "{{ url_for('shutdown') }}";
                }
            }
            function addURLparam(name, value) {
                let url = new URL(window.location.href);
                url.searchParams.set(name, value);
                window.location.href = url.href;
            }
            function toggleCollapse(elem) {
                //const elem = document.getElementById("metadata");

                if (elem.style.maxHeight){
                  elem.style.maxHeight = null;
                } else {
                  elem.style.maxHeight = elem.scrollHeight + "px";
                }
            }
        </script>
        <script type="text/javascript">
            function drawGraph(elem) {
                var data = vis.parseDOTNetwork(elem.innerText);

                let nodes = data.nodes;
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].label.includes('\n')) {
                        nodes[i].font = { align: "left" };
                    }
                }
                var options = data.options;
                var network = new vis.Network(elem, data, options);
            }
        </script>
        <meta charset="utf-8">
        <title>HypoDisc - {{ filename }}</title>
        <link rel="stylesheet" href={{url_for('static', filename='highlight/styles/onto-hljs.css')}} />
        <link href={{url_for('static', filename='default.css')}} rel="stylesheet" />
    </head>
    <body>
        <h1>HypoDisc Pattern Browser</h1>
        <b>Filename: {{ filename }}</b>

        <div id="manage">
            <button type="button" id="save_button" onclick="saveQueries()" {% if saved %} disabled {% endif %}>Save</button>
            <button type="button" onclick="quit()">Quit</button>
        </div>
        <h2>Meta Data</h2>
        <button type="button" onclick="toggleCollapse(this.nextElementSibling)" class="collapsible">show more</button>
        <div id="metadata">
            <table>
            {%for k,v in metadata.items()%}
            <tr>
                <td>{{k}}</td>
                <td>{{', '.join(v)}}</td>
            </tr>
            {%endfor%}
            </table>
        </div>

        <h2>Patterns</h2>
        <div id="filter">
            <form action="{{ url_for('viewer', pagesize=pagesize) }}" method="POST">
                <fieldset style="float:left;">
                    <legend>Order by</legend>
                    <select id="order_by" name="order_by" size="1">
                        <option value="id" {% if filters["order_by"] == "id" %} selected {% endif %} >ID</option>
                        <option value="hasSupport" {% if filters["order_by"] == "hasSupport" %} selected {% endif %} >Support</option>
                        <option value="hasDepth" {% if filters["order_by"] == "hasDepth" %} selected {% endif %} >Depth</option>
                        <option value="hasLength" {% if filters["order_by"] == "hasLength" %} selected {% endif %} >Length</option>
                        <option value="hasWidth" {% if filters["order_by"] == "hasWidth" %} selected {% endif %} >Width</option>
                        <option disabled>─────</option>
                        <option value="random" {% if filters["order_by"] == "random" %} selected {% endif %}>Randomized</option>
                    </select>
                    <select id="order_by_dir" name="order_by_dir" size="1">
                        <option value="ASC" {% if filters["order_by_dir"] == "ASC" %} selected {% endif %} >ASC</option>
                        <option value="DESC" {% if filters["order_by_dir"] == "DESC" %} selected {% endif %} >DESC</option>
                    </select>
                </fieldset>
                <fieldset style="float:left;">
                    <legend>Support</legend>
                    <input type="number" id="support_min" name="support_min" size="6" min={{ defaults["support_min"] }} max={{ defaults["support_max"] }} value={{ filters["support_min"] }}> to
                    <input type="number" id="support_max" name="support_max" size="6" min={{ defaults["support_min"] }} max={{ defaults["support_max"] }} value={{ filters["support_max"] }}>
                </fieldset>
                <fieldset style="float:left;">
                    <legend>Length</legend>
                    <input type="number" id="length_min" name="length_min" size="6" min={{ defaults["length_min"] }} max={{ defaults["length_max"] }} value={{ filters["length_min"] }}> to
                    <input type="number" id="length_max" name="length_max" size="6" min={{ defaults["length_min"] }} max={{ defaults["length_max"] }} value={{ filters["length_max"] }}>
                </fieldset>
                <fieldset style="float:left;">
                    <legend>Depth</legend>
                    <input type="number" id="depth_min" name="depth_min" size="6" min={{ defaults["depth_min"] }} max={{ defaults["depth_max"] }} value={{ filters["depth_min"] }}> to
                    <input type="number" id="depth_max" name="depth_max" size="6" min={{ defaults["depth_min"] }} max={{ defaults["depth_max"] }} value={{ filters["depth_max"] }}>
                </fieldset>
                <fieldset style="float:left;">
                    <legend>Width</legend>
                    <input type="number" id="width_min" name="width_min" size="6" min={{ defaults["width_min"] }} max={{ defaults["width_max"] }} value={{ filters["width_min"] }}> to
                    <input type="number" id="width_max" name="width_max" size="6" min={{ defaults["width_min"] }} max={{ defaults["width_max"] }} value={{ filters["width_max"] }}>
                </fieldset>
                <fieldset style="float:left;">
                    <legend>Text Search</legend>
                    <input type="search" id="text_search" name="text_search" size="30" placeholder="{{ filters['text_search'] }}">
                    <input type="submit" name="clear_text_search" value="Clear">
                </fieldset>
                <input type="submit" name="reset" value="Reset">
                <input type="submit" name="apply" value="Apply" style="float:right">
            </form>
        </div>
        <br/>
        <div id="patterns">
            {% if exhausted: %}
            <p id="no_more_queries_msg">No more queries</p>
            {% else %}
            {%for query in data:%}
            <section class="container">
            <div id="query_{{ query['id'] }}" class="pattern">
                <label><input type="checkbox" class="save_query" name="save_query" id="save_{{ query['id'] }}" onclick="saveQuery(this, {{ query['id'] }})" {% if query['id'] in favorites %} checked {% endif %} >Save Query</label>
                <table>
                <tr>
                    <td><b>id</b></td>
                    <td>{{ query['id'] }}</td>
                </tr>
                <tr>
                    <td>support</td>
                    <td>{{ query['hasSupport'] }}</td>
                </tr>
                <tr>
                    <td>depth</td>
                    <td>{{ query['hasDepth'] }}</td>
                </tr>
                <tr>
                    <td>width</td>
                    <td>{{ query['hasWidth'] }}</td>
                </tr>
                <tr>
                    <td>length</td>
                    <td>{{ query['hasLength'] }}</td>
                </tr>
                <tr>
                    <td>pattern</td>
                    <td class="query">
                        <pre>
                            <code class="sparql">{{ query['hasPattern'] }}</code>
                        </pre>
                    </td>
                </tr>
                </table>
            </div>
            <div id="graph_{{ query['id'] }}" class="graph">
                <button type="button" onclick="drawGraph(this.nextElementSibling)">draw graph</button>
                <div class="visgraph" >{{ query['hasDOTRepresentation'] }}</div>
            </div>
            </section>
            {%endfor%}
            {% endif %}
        </div>
        <br/>
        <br/>
            <form >
                <button name="prev_page" type="button" onclick="addURLparam('page', {{ max(pagenum - 1, 1) }})" {% if first_page %} disabled {% endif %} style="float:left;">Previous Page</button>
            </form>
            <form >
                <button name="next_page" type="button" onclick="addURLparam('page', {{ pagenum + 1 }})" {% if exhausted %} disabled {% endif %} >Next Page</button>
            </form>
            <form>
                <fieldset>
                    <legend>Patterns per Page</legend>
                    <select id="pagesize" name="pagesize" size="1" onchange="addURLparam(this.id, this.value)">
                        <option value=5 {% if pagesize == 5 %} selected {% endif %} >5</option>
                        <option value=10 {% if pagesize == 10 %} selected {% endif %} >10</option>
                        <option value=25 {% if pagesize == 25 %} selected {% endif %} >25</option>
                        <option value=50 {% if pagesize == 50 %} selected {% endif %} >50</option>
                    </select>
                </fieldset>
            </form>
        <hr/>
        <p>This tool is partly funded by the CLARIAH Research Infrastructure - 
        <a href="https://gitlab.com/wxwilcke/hypodisc">gitlab.com/wxwilcke/hypodisc<a></p>
    </body>
</html>
