<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href={{url_for('static', filename='default.min.css')}}>
        <script type="text/javascript" src={{url_for('static', filename='highlight.min.js')}}></script>
        <!-- from https://github.com/highlightjs/highlightjs-turtle -->
        <script type="text/javascript" src={{url_for('static', filename='turtle.js')}}></script>
        <script type="text/javascript" src={{url_for('static', filename='sparql.js')}}></script>
        <script type="text/javascript" src={{url_for('static', filename='vis-network.min.js')}}></script>
        <script type="text/javascript">
            hljs.highlightAll();
        </script>
        <script type="text/javascript">
            var selected = 0;
            function saveQuery(elem, id) {
                fetch("{{ url_for('viewer') }}", {
                    method: 'post',
                    body: JSON.stringify({ 'id': id, 'selected': elem.checked }),
                    headers: {
                        'Accept': 'text/html',
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.text
                }).then((res) => {
                    if (res.status === 201) {
                        console.log("Success")
                    }
                }).catch((error) => {
                    console.log(error)
                })

                if (elem.checked) {
                    selected++;
                } else {
                    selected--;
                }

                toggleSaveButton();
            }
            function saveQueries() {
                fetch("{{ url_for('viewer') }}", {
                    method: 'post',
                    body: JSON.stringify({ 'write_to_disk': true }),
                    headers: {
                        'Accept': 'text/html',
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.text()
                }).then((res) => {
                    if (res.status === 201) {
                        console.log("Success")
                    }
                }).catch((error) => {
                    console.log(error)
                })

                let button = document.getElementById("save_button");
                let last = button.innerHTML;
                button.innerHTML = 'Saved!';
                setTimeout(function () {
                    this.innerHTML = last;
                    clicked = false;
                }.bind(button), 1000);

                selected = 0
                toggleSaveButton();
            }
            function toggleSaveButton() {
                let button = document.getElementById("save_button");
                if (selected > 0) {
                    button.removeAttribute("disabled");
                } else {
                    button.setAttribute("disabled", "disabled");
                }
            }
            function quit() {
                let unsaved_entries = {% if not saved %} true {% else %} false {% endif %};
                let confirmed = true;
                if (unsaved_entries || selected > 0){
                    confirmed = confirm("You have unsaved patterns. Are you sure?");
                }

                if (confirmed){
                    window.location.href = "{{ url_for('shutdown') }}";
                }
            }
            function addURLparam(name, value) {
                let url = new URL(window.location.href);
                url.searchParams.set(name, value);
                window.location.href = url.href;
            }
            function toggleCollapse(elem) {
                //const elem = document.getElementById("metadata");

                if (elem.style.maxHeight){
                  elem.style.maxHeight = null;
                } else {
                  elem.style.maxHeight = elem.scrollHeight + "px";
                }
            }
            function copyQuery(elem) {
                let text = elem.getAttribute('data-name');
                navigator.clipboard.writeText(text);

                let last = elem.innerHTML;
                elem.innerHTML = 'Copied!';
                setTimeout(function () {
                    this.innerHTML = last;
                    clicked = false;
                }.bind(elem), 1000);
            } 
        </script>
        <script type="text/javascript">
            function drawGraph(parent) {
                parent.style.display = "block";

                let elem = parent.querySelector('.graph');
                if (elem.textContent) {
                    var data = vis.parseDOTNetwork(elem.textContent);

                    let nodes = data.nodes;
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].label.includes('\n')) {
                            nodes[i].x = -200;
                            nodes[i].y = -200;
                            nodes[i].font = {'align': "left",
                                             'color': '#eceff4'};
                        } else {
                            nodes[i].font = {'color': '#eceff4'};
                        }
                        nodes[i].color = {'background': '#81a1c1',
                                          'highlight': '#5e81ac'};
                    }

                    let edges = data.edges;
                    for (var i = 0; i < edges.length; i++) {
                        edges[i].color = {'color': '#81a1c1',
                                          'highlight': '#5e81ac'};
                        edges[i].font = {'color': '#5e81ac'};
                    }

                    var options = data.options;
                    var network = new vis.Network(elem, data, options);
                }
            }
            function closePopup(elem) {
                elem.style.display = "none";
            }
        </script>
        <meta charset="utf-8">
        <title>HypoDisc - {{ filename }}</title>
        <link rel="stylesheet" href={{url_for('static', filename='onto-hljs.css')}} />
        <link href={{url_for('static', filename='default.css')}} rel="stylesheet" />
    </head>
    <body>
        <div class="topnav">
            <h1>HypoDisc Pattern Browser</h1>
            <div id="topouter">
                <div id="topinner">
                    <button class="button" type="button" id="save_button" onclick="saveQueries()" {% if saved %} disabled {% endif %}>Save</button>
                    <button class="button" type="button" onclick="quit()" style="background-color: #bf616a;">Quit</button>
                </div>
                <button type="button"
                    onclick="toggleCollapse(document.getElementById('metadata'))" class="button" id="metadata_button">Toggle Provenance Information</button>
            </div>
        </div>

        <div id="metadata">
            <table>
            {%for k,v in metadata.items()%}
            <tr>
                <td class="table_key">{% if k.startswith('P_') %} {{k[2:]}} {% else %} {{k}} {% endif %}</td>
                <td class="table_value">{{';\n'.join(v)}}</td>
            </tr>
            {%endfor%}
            </table>
        </div>

        <div class="links">
            &#9658; <a href="https://wxwilcke.gitlab.io/hypodisc/index.html" target="_blank">Documentation</a>
            &#9658; <a href="https://gitlab.com/wxwilcke/hypodisc" target="_blank">Source</a>
        </div>
        
        <fieldset class="patternlst">
            <legend id="patternlst_title">Patterns</legend>
            <div id="filter">
                <form action="{{ url_for('viewer', pagesize=pagesize) }}" method="POST">
                    <fieldset class="with_tooltip" style="float:left;">
                        <legend>Order by</legend>
                        <select id="order_by" name="order_by" size="1">
                            <option value="id" {% if filters["order_by"] == "id" %} selected {% endif %} >ID</option>
                            <option value="hasSupport" {% if filters["order_by"] == "hasSupport" %} selected {% endif %} >Support</option>
                            <option value="hasDepth" {% if filters["order_by"] == "hasDepth" %} selected {% endif %} >Depth</option>
                            <option value="hasLength" {% if filters["order_by"] == "hasLength" %} selected {% endif %} >Length</option>
                            <option value="hasWidth" {% if filters["order_by"] == "hasWidth" %} selected {% endif %} >Width</option>
                            <option disabled>─────</option>
                            <option value="random" {% if filters["order_by"] == "random" %} selected {% endif %}>Randomized</option>
                        </select>
                        <select id="order_by_dir" name="order_by_dir" size="1">
                            <option value="ASC" {% if filters["order_by_dir"] == "ASC" %} selected {% endif %} >ASC</option>
                            <option value="DESC" {% if filters["order_by_dir"] == "DESC" %} selected {% endif %} >DESC</option>
                        </select>
                        <span class="tooltiptext">Sort the patterns by their various properties in ascending or descending order</span>
                    </fieldset>
                    <fieldset class="with_tooltip" style="float:left;">
                        <legend>Support</legend>
                        <input type="number" id="support_min" name="support_min" size="6" min={{ defaults["support_min"] }} max={{ defaults["support_max"] }} value={{ filters["support_min"] }}> to
                        <input type="number" id="support_max" name="support_max" size="6" min={{ defaults["support_min"] }} max={{ defaults["support_max"] }} value={{ filters["support_max"] }}>
                        <span class="tooltiptext">The number of entities that match a certain pattern</span>
                    </fieldset>
                    <fieldset class="with_tooltip" style="float:left;">
                        <legend>Length</legend>
                        <input type="number" id="length_min" name="length_min" size="6" min={{ defaults["length_min"] }} max={{ defaults["length_max"] }} value={{ filters["length_min"] }}> to
                        <input type="number" id="length_max" name="length_max" size="6" min={{ defaults["length_min"] }} max={{ defaults["length_max"] }} value={{ filters["length_max"] }}>
                        <span class="tooltiptext">The number of hops of the longest path in a certain pattern</span>
                    </fieldset>
                    <fieldset class="with_tooltip" style="float:left;">
                        <legend>Depth</legend>
                        <input type="number" id="depth_min" name="depth_min" size="6" min={{ defaults["depth_min"] }} max={{ defaults["depth_max"] }} value={{ filters["depth_min"] }}> to
                        <input type="number" id="depth_max" name="depth_max" size="6" min={{ defaults["depth_min"] }} max={{ defaults["depth_max"] }} value={{ filters["depth_max"] }}>
                        <span class="tooltiptext">The number of hops from the root entity that a certain pattern covers</span>
                    </fieldset>
                    <fieldset class="with_tooltip" style="float:left;">
                        <legend>Width</legend>
                        <input type="number" id="width_min" name="width_min" size="6" min={{ defaults["width_min"] }} max={{ defaults["width_max"] }} value={{ filters["width_min"] }}> to
                        <input type="number" id="width_max" name="width_max" size="6" min={{ defaults["width_min"] }} max={{ defaults["width_max"] }} value={{ filters["width_max"] }}>
                        <span class="tooltiptext">The number of properties in a certain pattern with the same source entity</span>
                    </fieldset>
                    <fieldset class="with_tooltip" style="float:left;">
                        <legend>Text Search</legend>
                        <input type="search" id="text_search" name="text_search" size="30" placeholder="{{ filters['text_search'] }}">
                        <input type="submit" name="clear_text_search" value="Clear">
                        <span class="tooltiptext" style="width: 315px; left: 19%;">Search for (parts of) text in the body of the patterns. Allows use of boolean operators ('AND', 'OR', and 'NOT')</span>
                    </fieldset>
                    <input class="button" type="submit" name="reset" value="Reset" style="float:right; background-color: #d08770;">
                    <input class="button" type="submit" name="apply" value="Apply" style="float:right;">
                </form>
            </div>
            <br/>
            <div id="patterns">
                {% if exhausted: %}
                <p id="no_more_queries_msg">No more queries</p>
                {% else %}
                {%for query in data:%}
                <div class="pattern">
                    <div class="patternquery">
                        <fieldset>
                            <legend>Query {{ query['id'] }}</legend>
                            <table>
                            <tr>
                                <td>support</td>
                                <td>{{ query['hasSupport'] }}</td>
                            </tr>
                            <tr>
                                <td>depth</td>
                                <td>{{ query['hasDepth'] }}</td>
                            </tr>
                            <tr>
                                <td>width</td>
                                <td>{{ query['hasWidth'] }}</td>
                            </tr>
                            <tr>
                                <td>length</td>
                                <td>{{ query['hasLength'] }}</td>
                            </tr>
                            </table>
                            <div class="query_buttons">
                                <label><input type="checkbox" class="save_query" name="save_query" id="save_{{ query['id'] }}" onclick="saveQuery(this, {{ query['id'] }})" {% if query['id'] in favorites %} checked {% endif %} >Save Query</label>
                                <button class="button" type="button" data-name="{{ query['hasPattern'] }}" onclick="copyQuery(this)">copy query</button>
                                <button class="button" type="button" onclick="drawGraph(this.nextElementSibling)">draw graph</button>
                                <div class="visgraph" >
                                    <div class="visgraph-inner" >
                                        <span class="close" onclick="closePopup(this.parentElement.parentElement)">&times;</span>
                                        <div class="graph">{{ query['hasDOTRepresentation'] }}</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <div class="query">
                            <pre>
                                <code class="sparql">{{ query['hasPattern'] }}</code>
                            </pre>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {% endif %}
            </div>
        </fieldset>
        <br/>
        <br/>
        <div class="botnav">
            <fieldset id="pagenav">
                <legend>Patterns per Page</legend>
                <select id="pagesize" name="pagesize" size="1" onchange="addURLparam(this.id, this.value)">
                    <option value=5 {% if pagesize == 5 %} selected {% endif %} >5</option>
                    <option value=10 {% if pagesize == 10 %} selected {% endif %} >10</option>
                    <option value=25 {% if pagesize == 25 %} selected {% endif %} >25</option>
                    <option value=50 {% if pagesize == 50 %} selected {% endif %} >50</option>
                </select>
            </fieldset>
            <div>
                <button class="button" name="prev_page" type="button" onclick="addURLparam('page', {{ max(pagenum - 1, 1) }})" {% if first_page %} disabled {% endif %}>Previous Page</button>
                <button class="button" name="next_page" type="button" onclick="addURLparam('page', {{ pagenum + 1 }})" {% if exhausted %} disabled {% endif %} >Next Page</button>
            </div>
        </div>
        <div class="footer">
            <hr/>
            <p>This tool is partly funded by the CLARIAH Research Infrastructure &mdash; 
            <a href="https://gitlab.com/wxwilcke/hypodisc" target="_blank">gitlab.com/wxwilcke/hypodisc</a></p>
        </div>
    </body>
</html>
